# config of runtime
applicationid:                  MYAPPNAME
moduleid:                       go.agent
versionid:                      0.9.5.a
environmentid:                  Testing
#------------------------------------------------------------------------------#
# log preferences
logformat:                      JSON
#logdest:                       STDERR
prettyprint:                    true
disabletimestamp:               false
#------------------------------------------------------------------------------#
# Prometheus metric expose
prometheusport:                 9000
metrichandle:                   /metrics
healthhandle:                   /health
detailhandle:                   /detail/
#------------------------------------------------------------------------------#
# defaults for Plugins 
defaultmeasuredest:	            ["file","/tmp/sre-agent.measure.log"]
defaultalertdest:               ["file","/tmp/sre-agent.alert.log"]
defaultwarndest:                ["file","/tmp/sre-agent.warn.log"]
defaultpagedest:                ["file","/tmp/sre-agent.page.log"]
#--- rolling windows are kept to calculate error and warning densities
defaulttimetick:                490ms
defaultrollingwindow:           [1m,10m]
#--- error and warning default thresholds
#---   the idea is that errors and warnings can be ephemeral
#---   and we need to get a few # in each window to call it an emegency
#---   we also want to limit the # of alerts sent!
#---   example:
#---      # of ticks in Roll W1: 1m/490ms = 122
#---      # of ticks in Roll W2: 10m/490ms  = 1224
#---      when 03 errors   are detected in 1800 ticks, an ALERT    will be sent
#---      when 40 warnings are detected in 1800 ticks, a  WARNING  will be sent
#---      same concept applies to Rolling Window 2
defaulterrorthresh:             [3,10]
defaultwarnthresh:              [20,80]
#
#--- number of metrics in history
metrichistory:                  30
#
#------------------------------------------------------------------------------#
# plugin configuration section
plugins:
  - pluginname:                 plugin_cpu
    #measuredest:               ["udp",":4321"]
    measuredest:                ["file","/tmp/sre-agent.cpu.measure.log"]
    alertdest:                  ["file","/tmp/sre-agent.cpu.alert.log"]
    warndest:                   ["file","/tmp/sre-agent.cpu.warn.log"]
    pagedest:                   ["file","/tmp/sre-agent.cpu.page.log"]
    #alertdest:                 ["udp","localhost:4322"]
    #warndest:                  ["udp","localhost:4323"]
    pluginmodule:               ./plugin_cpu/Darwin/plugin_cpu.so
    plugintimetick:             500ms
    pluginrollingwindow:	    [4000ms,8000ms]
    pluginerrorthresh:          [2,6]
    pluginwarnthresh:           [4,10]
    pluginconfig:		        '
                {
                    "alert": 
                    {
                        "cpu":
                        {
                            "low":          0,
                            "design":       60.0,
                            "engineered":   80.0
                        },
                        "anycpu":
                        {
                            "low":          0,
                            "design":       80.0,
                            "engineered":   90.0
                        }
                    },

                    "plugin": 
                    { 
                        "config":
                        {
                            "cputimes":     10,
                            "saturation":   75.0
                        }
                    }
                }
'
#
#
  - pluginname:                 plugin_load
    measuredest:                ["file","/tmp/sre-agent.load.measure.log"]
    alertdest:                  ["udp",":4328"]
    warndest:                   ["udp",":4329"]
    pagedest:                   ["file","/tmp/sre-agent.mem.page.log"]
    pluginmodule:               ./plugin_load/Darwin/plugin_load.so
    plugintimetick:             10s
    pluginrollingwindow:        [1m,2m]
    pluginerrorthresh:          [3,8]
    pluginwarnthresh:           [5,8]
    pluginconfig:               '
				{
					"alert": 
					{
						"load":
						{
							"low": 			2,
							"design": 		60.0,
							"engineered":	80.0
						}
					}
				}
'
#
#
  - pluginname:                 plugin_disk
    measuredest:                ["file","/tmp/sre-agent.disk.measure.log"]
    alertdest:                  ["file","/tmp/sre-agent.disk.alert.log"]
    warndest:                   ["file","/tmp/sre-agent.disk.warn.log"]
    #alertdest:                  ["udp",":4326"]
    #warndest:                   ["udp",":4327"]
    pluginmodule:               ./plugin_disk/Darwin/plugin_disk.so
    plugintimetick:             30s
    pluginrollingwindow:        [5m,15m]
    pluginerrorthresh:          [2,5]
    pluginwarnthresh:           [2,10]
    pluginconfig:               '
                {
                    "alert": 
                    {
                        "disk":
                        {
                            "low":          10, 
                            "design":       70.plugin_filesystem, 
                            "engineered":   90.0
                        }
                    }
                }
'
  - pluginname:                 plugin_filesystem
    measuredest:                ["file","/tmp/sre-agent.fs.measure.log"]
    alertdest:                  ["file","/tmp/sre-agent.fs.alert.log"]
    warndest:                   ["file","/tmp/sre-agent.fs.warn.log"]
    #alertdest:                  ["udp",":4326"]
    #warndest:                   ["udp",":4327"]
    pluginmodule:               ./plugin_filesystem/Darwin/plugin_filesystem.so
    plugintimetick:             1m
    pluginrollingwindow:        [10m,30m]
    pluginerrorthresh:          [2,5]
    pluginwarnthresh:           [3,10]
    pluginconfig:               '
                {
                    "alert": 
                    {
                        "/":
                        {
                            "low":          2,
                            "design":       46.0,
                            "engineered":   77.0
                        },
                        "/Volumes/TOSHIBA-001":
                        {
                            "low":          22,
                            "design":       40.0,
                            "engineered":   75.0
                        }
                    }
                }
'
#
#
  - pluginname:                 plugin_mem
    measuredest:                ["file","/tmp/sre-agent.mem.measure.log"]
    alertdest:                  ["file","/tmp/sre-agent.mem.alert.log"]
    warndest:                   ["file","/tmp/sre-agent.mem.warn.log"]
    #alertdest:                  ["udp",":4326"]
    #warndest:                   ["udp",":4327"]
    pluginmodule:               ./plugin_mem/Darwin/plugin_mem.so
    plugintimetick:             20s
    pluginrollingwindow:        [1m,5m]
    pluginerrorthresh:          [2,8]
    pluginwarnthresh:           [3,12]
    pluginconfig:               '
                {
                    "alert": 
                    {
                        "mem":
                        {
                            "low":          10, 
                            "design":       70.0, 
                            "engineered":   90.0
                        }
                    }
                }
'
#
  - pluginname:                 plugin_net
    measuredest:                ["file","/tmp/sre-agent.net.measure.log"]
    alertdest:                  ["file","/tmp/sre-agent.net.alert.log"]
    warndest:                   ["file","/tmp/sre-agent.net.warn.log"]
    #alertdest:                  ["udp",":4326"]
    #warndest:                   ["udp",""]
    pluginmodule:               ./plugin_net/Darwin/plugin_net.so
    plugintimetick:             1s
    pluginrollingwindow:        [10s,5m]
    pluginerrorthresh:          [2,10]
    pluginwarnthresh:           [3,20]
    pluginconfig:               '
                {
                    "alert": 
                    {
                        "drop":
                        {
                            "low":          0.00,
                            "design":       1.0,
                            "engineered":   10.0
                        }
                    }
                }
'
#
#
  - pluginname:                 plugin_connections
    measuredest:                ["file","/tmp/sre-agent.conn.measure.log"]
    alertdest:                  ["file","/tmp/sre-agent.conn.alert.log"]
    warndest:                   ["file","/tmp/sre-agent.conn.warn.log"]
    #alertdest:                  ["udp",":4326"]
    #warndest:                   ["udp",""]
    pluginmodule:               ./plugin_connections/Darwin/plugin_connections.so
    plugintimetick:             10s
    pluginrollingwindow:        [10s,10s]
    pluginerrorthresh:          [1,1]
    pluginwarnthresh:           [1,1]
    pluginconfig:               '{}'
#
#
  - pluginname:                 plugin_ibmmq
    measuredest:                ["file","/tmp/sre-agent.mq.measure.log"]
    alertdest:                  ["file","/tmp/sre-agent.mq.alert.log"]
    warndest:                   ["file","/tmp/sre-agent.mq.warn.log"]
    #alertdest:                  ["udp",":4326"]
    #warndest:                   ["udp",""]
    pluginmodule:               ./plugin_ibmmq/Darwin/plugin_ibmmq.so
    plugintimetick:             500ms
    pluginrollingwindow:        [5s,30s]
    pluginerrorthresh:          [4,10]
    pluginwarnthresh:           [3,15]
    pluginconfig:               '
                {
                    "alert": 
                    {
                        "DEV.QUEUE.1":
                        {
                            "low":          0,
                            "design":       46.0,
                            "engineered":   77.0
                        },
                        "DEV.QUEUE.2":
                        {
                            "low":          0,
                            "design":       10.0,
                            "engineered":   175.0
                        }
                    }
                }
'
#
#------------------------------------------------------------------------------#
#
